head
	// meta tags starts
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	meta(name="viewport",content="width=device-width,initial-scale=1,shrink-to-fit=no")
	meta(name="description" content=`${locals.APP_DESCRIPTION}`)
	meta(name="keywords" content=`${locals.APP_KEYWORDS}`)
	meta(property="url" content="<WEBSITE_PATH>")
	meta(name="application-name" content=`${locals.APP_NAME}`)
	meta(property="type" content="website")
	meta(name="theme-color" content=`${locals.APP_THEME_COLOR}`)
	meta(name="msapplication-TileColor" content=`${locals.APP_THEME_COLOR}`)
	meta(name="apple-mobile-web-app-title" content=`${locals.APP_NAME}`)
	meta(name="fb:app_id" content="<FACEBOOK_APP_ID>")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:title" content=`${locals.APP_NAME}`)
	meta(name="twitter:description" content=`${locals.APP_DESCRIPTION}`)
	meta(name="twitter:image" content="<SOCIAL_PREVIEW_IMAGE>")
	meta(property="og:title" content=`${locals.APP_NAME}`)
	meta(property="og:description" content=`${locals.APP_DESCRIPTION}`)
	meta(property="og:url" content="<WEBSITE_PATH>")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content=`${locals.APP_NAME}`)
	meta(property="og:image" content="<SOCIAL_PREVIEW_IMAGE>")
	meta(property="og:image:url" content="<SOCIAL_PREVIEW_IMAGE>")
	meta(property="og:image:secure_url" content="<SOCIAL_PREVIEW_IMAGE>")
	meta(property="og:image:type" content="image/*")
	meta(property="og:image:width" content="400")
	meta(property="og:image:height" content="300")
	// meta tags ends

	// title starts
	title= `${page_title ? `${page_title.charAt(0).toUpperCase() + page_title.slice(1)} | ` : ""}${locals.APP_NAME}`
	// title ends

	// preload files starts
	link(rel="preload" href=`./scripts/script${locals.IS_PRODUCTION ? ".min" : ""}.js` as="script")
	link(rel="preload" href=`./stylesheets/style${locals.IS_PRODUCTION ? ".min" : ""}.css` as="style")
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
	// preload files ends

	// style files starts
	link(rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" onload="this.onload=null;this.rel='stylesheet'")
	noscript
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
	block styles
	link(href=`./stylesheets/style${locals.IS_PRODUCTION ? ".min" : ""}.css` rel="stylesheet" type="text/css")
	// style files ends
