mixin app-social-nav(data={ type: "", labelledby: "" })
	- var list = [{title: "linkedin", icon: "linkedin-in", href: "https://linkedin.com"}, {title: "facebook", icon: "facebook-f", href: "https://facebook.com"}, {title: "X", icon: "x-twitter", href: "https://x.com"}];
	if (list.length)
		// social nav starts
		nav(class=`app-social-nav${data.type ? ` app-social-nav-${data.type}` : ""}`, aria-labelledby=(data.labelledby || undefined), aria-label=!data.labelledby ? "Social Media navigation" : undefined)
			ul.nav.mb-0
				each listItem in list
					li.nav-item
						a.nav-link.btn.btn-link.px-2.py-1.text-reset.text-primary-hover.text-primary-focus(data-bs-placement="top" data-bs-toggle="tooltip" aria-label=`Follow Us On ${listItem.title}` href=listItem.href target="_blank" rel="noopener noreferrer" title=`Follow Us On ${listItem.title}`)
							i.fab(class=`fa-${listItem.icon}`, aria-hidden="true")
		// social nav ends/.
